<div class="image"><%= get('image') %></div>
<div class="name"><%= get('name') %></div>
<div class="kind"><%= get('kind') %></div>
<div class="rating"><%= get('rating') %></div>
<div class="comments"><%= get('comments') %></div>
<a class="delete">X</a>