<!-- [11/15/2014] I added pagination so we can browse all of the masterpieces! :)
     To see the original code from 180 Websites, check out 
     commit bc9bb05faa08fb6e49cbcfb8fceee3bb46b600cc -->

<%= render "pixshow/scraps/header" %>

<div id="form_container">
	<h1>Awesome Pix Only!</h1>
	<%= form_for @scrap, :url => pixshow_scraps_path, :html => { :multipart => true } do |form| %>
	  <%= form.file_field :photo %>
	  <%= form.submit 'Submit' %>
	<% end %>
</div>

<div id="content_container">
	<% @scraps.each do |scrap| %>
		<div class="img_container">
			<%= image_tag scrap.photo.url(:thumb) %>
		</div>
	<% end %>
</div>
<%= paginate @scraps %>
