<!-- [11/15/2014] I added pagination to view all of the Little Dudes :)
     To see the original code from 180 Websites, check out 
     commit bc9bb05faa08fb6e49cbcfb8fceee3bb46b600cc -->

<%= render 'make_a_dude/dudes/header' %>

<div id='button_container'>
	<div class="btn"><%= link_to('Make A Dude', new_make_a_dude_dude_path) %></div>
</div>

<%= paginate @dudes %>
<div id="container">

<% @dudes.each do |dude| %>
	<div class="dude_container">
		<div class="dude_name"><%= dude.name %></div>
		
		<div class="dude">
			<div class="face">
			    <div class="eyes_container">
			      <div class="eyeball eye_left"></div>
			      <div class="eyeball eye_right"></div>
			    </div>

			    <div class="mouth smile"></div>
			</div>

			<div class="head" style="background-color: #<%= dude.color %>">
			    <div class="arm arm_left">
			    	<div class="hand hand_left">
			        	<div class="finger f1"></div>
			        	<div class="finger f2"></div>
			        	<div class="finger f3"></div>
			      	</div>
			    </div>
				<div class="arm arm_right">
			    	<div class="hand hand_right">
			        	<div class="finger f1"></div>
			        	<div class="finger f2"></div>
			        	<div class="finger f3"></div>
			      	</div>
			    </div>

			    <div class="leg leg_left">
			    	<div class="foot foot_left"></div>
			    </div>
			    <div class="leg leg_right">
			    	<div class="foot foot_right"></div>
			    </div>
			</div>
		</div>	

		<div class="dude_message"><%= dude.message %></div>
	</div>
<% end %>
<br class="clear">
</div>
<%= paginate @dudes %>
