<!DOCTYPE html>
<html>
<head>
  	<title><%= @title %> | Jennifer Dewalt</title>
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
</head>
<body>
	<%= yield %>
</body>
</html>
